/* General */

:root {
    --warning-color: #ffc107;
    --dark-color: #212529;
    --light-color: #f8f9fa;
    --success-color: #11d83f;
    --text-accent-color:#11d83f80;
}


* {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    transition: all .2s ease;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
}