/* General */

:root {
    --warning-color: #ffc107;
    --dark-color: #212529;
    --light-color: #f8f9fa;
    --success-color: #11d83f;
    --text-accent-color:#11d83f80;
}


* {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    transition: all .2s ease;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

.main-body {
    min-height: 50rem;
}

/* Navbar */

.logo {
    color: var(--light-color);
}

.logo:hover {
    color: var(--warning-color);
}

.navbar-button {
    background: var(--warning-color);
    border-radius: 1rem;
    color: var(--light-color);
    font-size: 1.2rem;
    max-width: 12rem;
}

.dropdown-menu {
    background: var(--dark-color);
    color: var(--light-color); 
}

.dropdown-menu a {
    color: var(--warning-color);
    font-size: 1.2rem;
}

.dropdown-divider {
    background: var(--light-color);
}

.toggler-special {
    background: var(--warning-color);
}


/* Footer */
.social-links a {
    font-size: 2rem;
    color: var(--light-color);
    margin-right: .5rem;
    margin: 1rem;
}

.social-links a:hover {
    color: var(--warning-color);
}
