/* General */

:root {
    --warning-color: #ffc107;
    --dark-color: #212529;
    --light-color: #f8f9fa;
    --success-color: #11d83f;
    --text-accent-color:#11d83f80;
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    transition: all .2s ease;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

.btn {
    background: var(--warning-color);
    color: var(--dark-color); 
}
  
.btn:hover {
    background: var(--dark-color);
    color: var(--light-color); 
}


/* Navbar */
.logo {
    color: var(--light-color);
}

.logo:hover {
    color: var(--warning-color);
}

.navbar-button {
    background: var(--warning-color);
    border-radius: 1rem;
    color: var(--light-color);
    font-size: 1.2rem;
    max-width: 12rem;
}

.dropdown-menu {
    background: var(--dark-color);
    color: var(--light-color); 
}

.dropdown-menu a {
    color: var(--warning-color);
    font-size: 1.2rem;
}

.dropdown-divider {
    background: var(--light-color);
}

.toggler-special {
    background: var(--warning-color);
}

/* Main */
.main-body {
    min-height: 50rem;
}

.main-container {
    margin: 2rem 1rem;
}

.user-greeting {
    background: var(--success-color);
    opacity: .5;
    color: var(--light-color);
    padding-inline: .5rem;
    border-radius: 2rem;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 19;
    text-decoration: none;
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

/* Slogan */
.slogan {
    font-size: 3rem;
    margin: 6rem 0;
    text-align: center;
    background: var(--dark-color);
    color: var(--light-color);
}

.slogan:hover {
    background: transparent;
}


.slogan-container:hover>h2 {
    color: var(--dark-color);   
}

/* Blog Posts */
.main-row {
    margin: 0 0.5rem;
}

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
    color: var(--light-color);
    background: var(--dark-color);
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

.image-container-home-page {
    max-width: 100%;    
}

.card-img-home-page {
    width: 100%;
    height: 100%;
    object-fit: contain;    
}

.post-link {
    text-decoration: none;
    color: var(--dark-color);
}

.link-accent-color {
    color: var(--text-accent-color);
    font-family: 'Young Serif', serif;
    font-weight: 400;
}
  
.link-accent-color:hover {
    color: var(--dark-color);
}

.blog-post-title:hover {
    color: var(--warning-color);
    opacity: .9;
}

/* Blog Post Detail */
.post-detail {
    margin: 1rem 0.5rem;
}
  
.post-title-detail {
    font-size: 3rem;
    margin: 3rem 0;
    text-align: center;
    background: var(--dark-color);
    color: var(--light-color);
}

.post-title-detail:hover {
    background: transparent;
    color: var(--dark-color);
}

.card-img-detail-page {
    width: 30rem;
    max-height: max-content;
    object-fit: contain;
    float: left;
    margin-right: 1.5rem;
    border: .5rem solid var(--warning-color);
    border-radius: 2rem;  
}

.comments-row {
    margin: 1.5rem 0;
    gap: 1rem;
}

.post-comments-card {
    margin: 1rem;
}

.comments-form {
    margin-top: 1rem;
}
  
.comment-title {
    width: max-content;
    background-color: var(--success-color);
    opacity: .5;
    color: var(--light-color);
    padding-inline-end: 1rem;
    
}

.comment-title a {
    color: var(--dark-color);
    font-family: 'Young Serif', serif;
    font-weight: 400;
    
}

.comment-title a:hover {
    color: var(--light-color);
}

.submit-comments {
    margin-top: 1rem;
}

.wrapper-post-likes {
    gap: 1rem;
    align-items: baseline;
}

/* Footer */
.social-links a {
    font-size: 2rem;
    color: var(--light-color);
    margin-right: .5rem;
    margin: 1rem;
}

.social-links a:hover {
    color: var(--warning-color);
}

/* media queries */

@media screen and (max-width: 910px) {
    .slogan {
        font-size: 2rem;
        margin: 4rem 0;
    }

    .blog-post-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 760px) {
    .card-img-detail-page {
      float: unset;
      margin: 0 auto;
      width: 80%;
    }
  
    .image-container-detail-page {
      margin-left: 15%;
    }
  
    .post-title-detail {
      font-size: 2rem;
    }
}

@media screen and (max-width: 620px) {
    .slogan {
        font-size: 1.5rem;
        margin: 2rem 0;
    }

    .blog-post-title {
        font-size: 1.5rem;
    }

    .comments-row {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .slogan {
        font-size: 1rem;
        margin: 1rem 0;
    }

    .blog-post-title {
        font-size: 1rem;
    }

    .post-title-detail {
        font-size: 1.5rem;
    }
}
