{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious recipes</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&family=Young+Serif&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/590214f475.js" crossorigin="anonymous"></script>

    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- JS -->
    <script defer src="{% static 'js/main.js' %}"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script defer src="{% static 'js/myscript.js' %}"></script>

</head>
<body class="h-100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="{% url 'home' %}"><h1>Delicious recipes</h1></a>
            <button class="navbar-toggler toggler-special" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbar-button" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            User Menu
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.profile %}
                            <li><a class="dropdown-item" href="{% url 'profile_page' %}">Profile</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'create_profile' %}">Create Profile</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'recipe_create' %}">Add Post</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link navbar-button" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbar-button" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sign Up//Login
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sing Up</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                        </ul>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    
    <!-- Main -->
    <main class="main-bg main-body">
        {% if user.is_authenticated %}
        <div class="user-greeting">
            <span>you login as <strong>{{ user }}</strong></span>
        </div>    
        {% endif %}
    
        <!-- Action Notifications -->
        <div class="container messages-container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" id="messages" role="alert">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    
    
    {% block content %}

    {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="mt-auto footer-section bg-dark footer" >
        <h2 class="m-0 text-center text-white">Visit our social plattforms</h2>
        <p class="m-0 text-center text-white">to find more delicious recipes</p>
        <div class="social-links text-center">
            <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit out Facebook page (open in a new tab)"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit out Instagram page (open in a new tab)"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com" target="_blank" rel="noopener" aria-label="Visit out Twitter page (open in a new tab)"><i class="fa-brands fa-square-twitter"></i></a>
        </div>
    </footer>
</body>
</html>