{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<h2 class="post-title-detail">{{ post.cooking_recipe_title }}</h2>

<!-- Post -->
<article class="post-detail">
    <div class="image-container-detail-page">
        <!-- Check user add image or not -->
        {% if "placeholder" in post.cooking_recipe_image.url %}
        <img class="card-img-detail-page"
            src="https://res.cloudinary.com/dtnxukqxl/image/upload/v1696967358/project/lgzihdcgkyvtnpwmpugr.jpg"
            alt="default post image">>
        {% else %}
        <img class="card-img-detail-page" src=" {{ post.cooking_recipe_image.url }}" alt="user post image">>
        {% endif %}
    </div>
    <p> {{ post.cooking_recipe_body | safe | linebreaksbr }}</p>
    <hr>
    <p class="blog-post-meta text-muted"> Post creaeted {{ post.created_on}} by 
        <strong>{{ post.cooking_recipe_author}}</strong>
    </p>
    <div class="flex-wrapper">
        <div class="d-flex wrapper-post-likes">
            <p class="card-text text-muted h6"> Post updated {{ post.updated_on}} </p>
            <strong>
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                    <span>{{ post.number_of_likes }} </span>
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" value="{{post.slug}}" class="btn"><i class="fas fa-heart"></i></button>
                    {% else %}
                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn"><i class="far fa-heart"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span>{{ post.number_of_likes }} </span>
                <span><i class="far fa-heart"></i></span>
                {% endif %}
            </strong>
        </div>
        {% if post.cooking_recipe_author == user %}
        <div class="button-wrapper d-flex">
            <a class="btn mt-1 mb-1" href="{% url 'recipe_update' post.slug %}">Update Recipe</a>
            <a class="btn mt-1 mb-1" href="{% url 'recipe_delete' post.slug %}">Delete Recipe</a>
        </div>
        {% endif %}
    </div>
</article>
<!-- Comments -->
<div class="comments-row d-flex">
    <div class="col-md-8">
        <h3><strong>Comments:</strong></h3>
        <div class="сomments-card">
            {% for comment in comments %}
            <div class="comments">
                <p class="comment-title">
                    ({{ comment.created_on }})
                    <strong>{{ comment.name }}</strong> wrote:
                </p>
                <div class="flex-wrapper">
                    <p>{{ comment.body }}</p>
                {% if comment.name == user.username %}
                    <a class="btn mt-1 mb-1" href="{% url 'commentdelete' comment.id %}">Delete Comment</a>
                {% endif %}
                </div>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Comments add notification and comment for authenticated user -->
    <div class="col-md-4">
        <div class="post-comments-card">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>

            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" class="comments-form">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn submit-comments">Submit</button>
            </form>
            {% else %}

            {% if user.is_authenticated %}

            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" class="comments-form">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn submit-comments">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div> 
    </div> 
</div>
{%endblock%}